<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Homotic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: '/Probes',
            type: 'GET',
            success: function (data) {
//                alert(data.Temp);    
            },
            error: function (xhr, status, error) {
                alert('Error');
            }
        });
    });

var Modules;

function listmodules() {
    if (document.getElementById('AddModule').style.display == "none")
    {
        $.ajax({
            url: '/Modules',
            type: 'GET',
            success: function (data) {
                Modules = data;
                var x = document.getElementById("ModulesSelect");
                document.getElementById('AddModule').style.display = 'inline';
                for(i = 0; i < Object.keys(data).length; i++)
                {
                    var option = document.createElement("option");
                    option.text = data[i].Name;
                    option.value = i;
                    x.add(option);
                };
            },
            error: function (xhr, status, error) {
                alert('Error');
            }
        });
    }
    else
    {
        var divOption = document.getElementById('ModuleOption');
        var record = '{ "sensorType" : ' + document.getElementById("ModulesSelect").value + ', "Fields" : [';
        var fields;
        for (i=0;i<divOption.childNodes.length;i++)
        {
            var elem = divOption.childNodes[i];
            record += '{"PortName" : "' + elem.placeholder +'","GPIO" : ' + elem.value + '}';
            if (i<divOption.childNodes.length-1) record += ',';
        }
        record += ']}';
        $.ajax({
            url: '/RecordMod',
            type: 'POST',
            data: JSON.stringify(record),
            contentType: 'application/json',
            success: function (data) {
                var divAdd = document.getElementById("ModuleOption");
                while (divAdd.firstChild) {
                    divAdd.removeChild(divAdd.firstChild);
                }
                document.getElementById('AddModule').style.display = 'none';
            },
            error: function (xhr, status, error) {
                alert('Error');
            }
        });
    }
}

function UpdateModule() {
    var x = document.getElementById("ModulesSelect").value;
    var divAdd = document.getElementById("ModuleOption");
    while (divAdd.firstChild) {
         divAdd.removeChild(divAdd.firstChild);
    }
    var desc = document.getElementById("ModuleDescription");
    desc.innerText = Modules[x].Description;
    for(i=0;i<Modules[x].Fields.length;i++)
    {
        var f = document.createElement("INPUT");
        f.setAttribute("type","number");
        f.setAttribute("id","Fields"+i);
        f.setAttribute("placeholder",Modules[x].Fields[i].Name);
        divAdd.appendChild(f);
    }
// <input type="text" class="input-block-level" ng-model="name" ng-change="AddModule()" placeholder="Modules">    
}

var source = new EventSource('/GetArd');
source.addEventListener('message', function(e) {
    console.log(e.data);
}, false);

</script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://bitbucket.org/lemonnierfr/homotic" class="brand">Homotic</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Dashboard</h1>
      </div>
      <div class="row">
        <div class="span3">
            <ul class="nav nav-list well">
                <li class="nav-header">Modules list</li>
            </ul>
            <div class="span2" Id="AddModule" style="display:none">
                <select id="ModulesSelect" name="ModulesSelect" onchange="UpdateModule()"></select>
                <span id="ModuleDescription"></span>
                <div class="span2" Id="ModuleOption"></div>
            </div>
            <button class="span1 btn btn-primary" onclick="listmodules()">+</button>
        </div>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span7" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Message">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  </body>
</html>
